.linkButtonStyle {
display: inline-block;
padding: 0.01rem 0.3rem;
color: #ffff00;
background-color: #000;
text-decoration: none;
border-radius: 50px;
transition: background-color 0.7s ease, color 0.7s ease;

}

.linkButtonStyle:hover {
background-color: #ffff00;
color: black;
}
.linkWorkButtonStyle{
    display:inline-block;
    padding:0.35rem 0.20rem;
    color: #042a3f;
    text-decoration: underline wavy #ff0;
    border-radius: 25px;
    transition: text-decoration 0.5s ease, border-radius 0.3s ease; 
}
.linkWorkButtonStyle:hover{
    text-decoration: underline double #ff0;
    border-radius: 10px;
}
